:root { 
--gray_600:#727b85; 
--blue_gray_100:#d9d9d9; 
--white_A700_1e:#fdfefe1e; 
--white_A700_01:#ffffff; 
--gray_900:#142130; 
--lime_900:#88530d; 
--gray_100_00:#f6f6f700; 
--white_A700:#fdfefe; 
--gray_100:#f6f6f7; 
}